Flask==1.1.2
Flask-SQLAlchemy==2.5.0
SQLAlchemy==1.4.9
marshmallow~=3.12.1
flask-marshmallow==0.14.0
flask_cors
Flask-Migrate==2.7.0
flask_jwt_extended
Flask-Classful==0.14.2
webargs==7.0.1
marshmallow_sqlalchemy
Flask-Uploads
